/** @format */

@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@1,300;1,600&family=Darker+Grotesque:wght@300&family=Lato:ital,wght@1,300;1,700&family=Tillana&display=swap');

// font-family: 'Playball', cursive;

$lato: 'Lato', sans-serif;
$cormorant: 'Cormorant', serif;
$darker: 'Darker Grotesque', sans-serif;
$tiliana: 'Tillana', cursive;
