/** @format */

@media (max-width: 583px) {
	.nav__box li {
		display: none;
	}

	.nav__box a {
		display: none;
	}

	.aboutme h1 {
		font-size: 2rem;
	}
	.aboutme span {
		font-size: 1.2rem;
	}
	.aboutme p {
		font-size: 1rem;
	}

	.aboutme__wrap {
		min-width: 90%;
	}

	strong {
		font-size: 1.2rem;
		text-align: center;
	}

	#offers h1 {
		font-size: 1.5rem;
	}

	body .container .offers {
		min-width: 100%;
	}

	body .container .offers__pic {
		grid-template-columns: 1fr;
	}

	body .container .offers__pic--img {
		grid-column: 1/-1;
		align-items: flex-end;
	}

	body .container .offers__pic--img img {
		width: 100%;
		text-align: center;
		transform: rotate(0deg);
	}

	body .container .offers__pic--text {
		grid-column: 1/-1;
	}

	body .container .offers__pic--text span {
		font-size: 1.5rem;
		text-align: center;
	}
	body .container .offers__pic--text li {
		font-size: 1.4rem;
		text-align: center;
	}
	body .container .offers__pic--text p {
		font-size: 1.4rem;
		text-align: center;
	}

	#ciaza {
		grid-column: 1/-1;
	}

	h2#ciaza {
		font-size: 2rem;
		text-align: center;
		justify-content: center;
	}
	#noworodek h2 {
		font-size: 2rem;
		text-align: center;
		justify-content: center;
	}
	#urodziny h2 {
		font-size: 2rem;
		text-align: center;
		justify-content: center;
	}
	#rodzina h2 {
		font-size: 2rem;
		text-align: center;
		justify-content: center;
	}
	#kobieca h2 {
		font-size: 2rem;
		text-align: center;
		justify-content: center;
	}
	#biznesowa h2 {
		font-size: 2rem;
		text-align: center;
		justify-content: center;
	}

	body .container .offers__pic-second {
		grid-template-columns: 1fr;
	}

	#portfolio {
		width: 100%;
	}

	body .portfolio__box,
	body .portfolio h2 {
		font-size: 2rem;
	}

	body .portfolio__box--1 h3 {
		font-size: 1.6rem;
	}
	body .portfolio__box--1 {
		min-width: 95%;
		min-height: 12rem;
	}
	body .portfolio__box--2 h3 {
		min-width: 95%;
		font-size: 1.6rem;
	}

	body .portfolio__box--2 {
		min-width: 95%;
		min-height: 15rem;
		background-position-y: -4rem;
	}
	body .portfolio__box--3 h3 {
		font-size: 1.6rem;
	}
	body .portfolio__box--3 {
		min-width: 95%;
		min-height: 15rem;
		background-position-y: -2.2rem;
	}
	body .portfolio__box--4 h3 {
		font-size: 1.6rem;
	}

	body .portfolio__box--4 {
		min-width: 95%;
		min-height: 15rem;
		background-position-y: -2.2rem;
	}

	body .portfolio__box--5 {
		font-size: 1.6rem;
		background-position-y: -13rem;
	}

	body .portfolio__box--5 {
		min-width: 95%;
		min-height: 15rem;
		background-position-y: -2.2rem;
	}
	body .portfolio__box--6 h3 {
		font-size: 1.6rem;
	}
	body .portfolio__box--6 {
		min-width: 95%;
		min-height: 15rem;
		background-position-y: -2.2rem;
	}

	.contact__container {
		min-width: 100vw;
	}

	body .contact__container p {
		text-align: center;
	}

	.return {
		display: none;
	}
}
